<h1> Book detail</h1>

<table>
  <tr>
    <td>
      <a href="show"> <%= @book.title %> </a>
    </td>
    <td>
      <%= @book.body %>
    </td>
  </tr>
</table>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Destroy", book_path, method: :delete %>