<h1>welcome to <span>Bookers</span>!!</h1><br />
<h3>In <span>Bookers</span>,<br />
<div>you can share and exchange your opinions , inpressions , and emotions</div><br />
<div>about various books!</div>
</h3>

<%= link_to "Log in", new_user_session_path %> <br 
<%= link_to "Sign Up", new_user_registration_path %>